hybrid-rag-pipeline.json
{
  "name": "Internal Knowledge Assistant - Hybrid RAG Pipeline",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the Company Knowledge Assistant, answering employee questions using information retrieved from internal company documentation in the attached vector store.\n\nKnowledge Constraints:\n1. Contextual Grounding: Answer questions using ONLY the information returned from the vector store. Do NOT use outside knowledge, even if you believe you know the answer.\n2. Conflict Resolution: If retrieved documents conflict (e.g., two versions of the same policy), prioritize the document with the most recent date. If the conflict cannot be resolved, mention both versions and flag the ambiguity.\n3. The \"I Don't Know\" Rule: If the answer is not contained within the retrieved information, or if no information is returned from the vector store, you do not know the answer. Do NOT guess or hallucinate.\n\nTone & Style:\n- Be clear, professional, and helpful, like an experienced colleague.\n- Keep answers concise. Use bullet points for lists (e.g., steps in a process, eligibility criteria).\n\nResponse Format (Strict JSON):\nYou must return your response ONLY in the following JSON format, with no text before or after it:\n\n{\n  \"answer\": \"Your grounded response here...\",\n  \"source_metadata\": {\n    \"documents_used\": [\"List of doc titles or chunk identifiers\"],\n    \"confidence_score\": 0-100\n  },\n  \"needs_human\": true/false\n}\n\nSet needs_human to true ONLY if:\n- The answer is missing from the retrieved information (the \"I Don't Know\" case), or\n- The user explicitly asks to speak with a human.\n\nHandoff Protocol:\nIf you set needs_human to true, set the answer field to: \"Sorry, I don't have that information in my knowledge base. I've forwarded your question to our team, and someone will follow up with you directly.\"\n- Keep the tone helpful and reassuring.\n- Do not sound like you are giving up; sound like you are escalating to a colleague who can help.\n- When needs_human is true, set documents_used to an empty list and confidence_score to 0."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2336,
        4448
      ],
      "id": "6ec7e6d9-2283-448c-822e-ea9d36c30372",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2384,
        4672
      ],
      "id": "ea5b4c54-02e3-482f-b4ea-8af0d626161c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2240,
        4672
      ],
      "id": "69d9cafe-441c-437c-90dd-160e74353531",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3328,
        3584
      ],
      "id": "347da388-b5f0-4f90-9442-6da84b30536d",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Loop Over Items').item.json.id }}"
              },
              {
                "name": "category",
                "value": "={{ $('Basic LLM Chain').item.json.output.category }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Loop Over Items').item.json.name }}"
              },
              {
                "name": "file_summary",
                "value": "={{ $('Basic LLM Chain').item.json.output.document_summary }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3456,
        3584
      ],
      "id": "fe09ee86-288b-4783-9651-02963cc7953d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3456,
        3808
      ],
      "id": "72d14e21-f2b3-435e-a567-6b2dc228634b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        3328,
        3360
      ],
      "id": "112c20a6-51dd-481d-841d-67542b144c27",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1456,
        2192
      ],
      "id": "479c6052-b749-438c-bb9a-3c49ebf8640b",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.text }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        832,
        3104
      ],
      "id": "a138b057-62d2-4742-98da-26e74991b044",
      "name": "Generate Hash"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2128,
        2192
      ],
      "id": "81785ea9-6411-400f-8f0e-1e6f7cce4654",
      "name": "Download File",
      "credentials": {
        "googleApi": {
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "record_manager",
        "filters": {
          "conditions": [
            {
              "keyName": "doc_id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1056,
        3104
      ],
      "id": "3aa26490-7a6d-469a-a603-978fabecf945",
      "name": "Search Record Manager",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "record_manager",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "doc_id",
              "fieldValue": "={{ $('Loop Over Items').item.json.id }}"
            },
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Generate Hash').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1968,
        3040
      ],
      "id": "cfc3234e-a839-4d3e-a723-0079245ff426",
      "name": "Create Row in Record Manager",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2384,
        2176
      ],
      "id": "8553dc0b-0559-4387-bb4e-43ac5d84ce32",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "ad01f150-f021-454c-aa13-eea5b26c2cba"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dcd400bc-0b91-4c30-81bd-da402e4a2730",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Generate Hash').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca0c7ef8-09f9-4424-947b-8469b1ed8cac",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Generate Hash').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1296,
        3232
      ],
      "id": "f4ee7bb9-bb56-437f-96cb-0557c76b3e3a",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Loop Over Items').item.json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1856,
        3280
      ],
      "id": "8e4567ff-dcb4-4b16-9f6c-ff6dcaca282a",
      "name": "Delete Previous Vectors",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "record_manager",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Search Record Manager').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Generate Hash').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2384,
        3280
      ],
      "id": "4b0ff7f8-f3d3-4fd0-8a47-0592ee23267c",
      "name": "Update our Record Manager",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 0. New Document\nAdd to Record Manager and Vector Store ",
        "height": 120,
        "width": 200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1488,
        3120
      ],
      "id": "bffe7e11-238a-4ede-ad84-25cd1b392852",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 2. Changed Document \nDelete old vectors and add new ones",
        "height": 100,
        "width": 200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1488,
        3360
      ],
      "id": "cc841635-afa8-48eb-8eb6-4a350ccdc60a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### 1. No Change to Doc\nMove to next file",
        "height": 80,
        "width": 200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1488,
        3248
      ],
      "id": "10bbbdd1-9d43-4582-8aed-16d209ec251a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2112,
        3280
      ],
      "id": "11bb3a11-8425-4436-b3b2-0cc0044189ec",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# File Name\n{{ $('Download File').item.json.name }}\n\n##################\n\n# File Contents\n{{ \n  $('Set Text').item.json.text.split(/\\s+/).length > 500 \n    ? $('Set Text').item.json.text.split(/\\s+/).slice(0, 500).join(' ') + '...' \n    :  $('Set Text').item.json.text\n}}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Based on the provided file name and file contents, extract out a 1 sentence description of what the document is about and classify the document by company department category.\n\nOnly output JSON in the following format\n\n{\n\"category\":\"<ADD>\",\n\"document_summary\":\"<ADD>\"\n}\n\nIf you are unsure of either of these, just output N/A in the field.\n\nAllowable values for category include\n\nHR\nFinance\nOperations\nIT"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2720,
        3280
      ],
      "id": "57e34eb7-ebb2-4d93-97d1-3bfeea133ca1",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"category\":\"<ADD>\",\n\"document_summary\":\"<ADD>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2864,
        3504
      ],
      "id": "fadd8234-3f3f-448a-806d-0a1d5fe1283f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2720,
        3504
      ],
      "id": "8a03f7ef-75c5-495b-ab66-c782568cdaad",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Classify the employee's question as HR, Finance, Operations, or IT based on its subject matter.\n\nOnly output in JSON"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -2688,
        4448
      ],
      "id": "d88a22e4-f1b5-4180-a17f-36ac3deb223d",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"category\": \"<ADD>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2544,
        4720
      ],
      "id": "29619e2d-91df-4924-8931-8f01059c77a6",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2720,
        4720
      ],
      "id": "39faea6b-271a-4d9f-b831-203c7f362a78",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "=application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ea7c4356-73ca-4423-b2c5-fec1deeadf4d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "680adc20-8cff-4e40-8f55-5d74c7a0f49b",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a2e92190-d773-48de-8e8a-f93667035976",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "=multipart/related",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c21ed5d4-b174-4f6d-afde-f76382581b3f",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "image/png",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1904,
        2176
      ],
      "id": "729219cd-1740-4375-9485-095ed7aee4b7",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -640,
        1568
      ],
      "id": "d580a88e-ec55-4b65-af47-0e12942471f0",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "301bec53-f982-43e3-8533-025237dd9b31",
              "name": "text",
              "value": "={{ $json.content || $json.text || $json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        2192
      ],
      "id": "c1ba3dbf-8876-447a-b929-2892a0973c00",
      "name": "Set Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90016f21-d4be-4e57-a81a-5fe290f388b9",
              "name": "content",
              "value": "={{ $('Set Text').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3072,
        3280
      ],
      "id": "46068167-cb72-4bb1-a9ce-383b20dd25ed",
      "name": "Setup Text for Embedding"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -672,
        2464
      ],
      "id": "c44c0f3b-b330-4162-8410-3d4989114fd3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -448,
        2464
      ],
      "id": "b882d95a-58b2-47d3-8767-a4caa1658664",
      "name": "Markdown"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        -592,
        1968
      ],
      "id": "45552681-4cae-418d-97b8-4e5fd19543d6",
      "name": "Extract text",
      "credentials": {
        "mistralCloudApi": {
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d1d8ad5-a267-4adc-91fb-30131e029f63",
              "name": "text",
              "value": "={{ $json.text.replace(/\\n/g, '') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        2192
      ],
      "id": "bbd3d64a-c819-4268-8eb3-0b1405799282",
      "name": "Strip out New Line & White spaces"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4df01f0e-17c7-4aa9-9233-075191782e7b",
              "leftValue": "={{ $json.text.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1008,
        2192
      ],
      "id": "a447241c-f3c9-428f-8fd6-1104e69ff9da",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "087ec913-d296-4d63-941a-5e221992641e",
              "name": "content",
              "value": "={{ $json.pages.map(page => page.markdown).join('\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        1968
      ],
      "id": "55742810-3443-4524-9b28-e841467c5c83",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -816,
        1968
      ],
      "id": "faf4b0e6-224c-4c98-a6e3-00b22f8cdf19",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## HTML",
        "height": 256,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        2416
      ],
      "id": "ea047da7-4844-4462-85d1-5162fafae23f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Google Docs",
        "height": 256,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        1488
      ],
      "id": "57bf85bc-3cbd-458f-9357-6b93d8bbdfee",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Scanned PDF",
        "height": 272,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        1856
      ],
      "id": "ad0566f5-e43f-435d-8934-31b1ba562117",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Regular PDF\n",
        "height": 144,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        2176
      ],
      "id": "8ef0d1e1-c240-466d-8585-4a77a84ed7cd",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_DRIVE_FOLDER_ID_INGEST",
          "mode": "list",
          "cachedResultName": "Input",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_DRIVE_FOLDER_ID_INGEST"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2608,
        2176
      ],
      "id": "0ad30e5c-fc0a-41e3-b818-44713b6a95a8",
      "name": "New Files",
      "credentials": {
        "googleApi": {
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_DRIVE_FOLDER_ID_INGEST",
          "mode": "list",
          "cachedResultName": "Input",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_DRIVE_FOLDER_ID_INGEST"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2608,
        2384
      ],
      "id": "02a7c7b2-6397-4a90-8502-1dbfd52cb503",
      "name": "Update Files",
      "credentials": {
        "googleApi": {
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_DRIVE_FOLDER_ID_DELETED",
          "mode": "list",
          "cachedResultName": "Archive",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_DRIVE_FOLDER_ID_DELETED"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2656,
        944
      ],
      "id": "d6a36961-3fd9-4329-83e7-73d06a0ac9ec",
      "name": "Deleted Files",
      "credentials": {
        "googleApi": {
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2464,
        944
      ],
      "id": "7d77b80f-6b3f-4f29-857a-8a2dc035a59f",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Loop Over Items1').item.json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1744,
        800
      ],
      "id": "cc62cc94-8472-4a32-a4b3-81a46ad055d0",
      "name": "Delete Previous Vectors1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "record_manager",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Search Record Manager1').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1328,
        800
      ],
      "id": "bc50ab67-8019-43a7-8579-bf2ab1098441",
      "name": "Update our Record Manager1",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1536,
        800
      ],
      "id": "a62badd1-8886-4c50-a98e-6c8354187b74",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "record_manager",
        "filters": {
          "conditions": [
            {
              "keyName": "doc_id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items1').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2176,
        960
      ],
      "id": "e0b6a579-1ef8-4a1d-979f-ff1c3c21dfc6",
      "name": "Search Record Manager1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ab543054-fdfd-42b8-8505-4ec54ba8509a",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1968,
        960
      ],
      "id": "1c105d22-cd96-4bb0-8115-12c5ebc47a00",
      "name": "If1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1104,
        976
      ],
      "id": "fbdbf4db-dbf3-4357-b439-d0756cf9278c",
      "name": "Google Drive",
      "credentials": {
        "googleApi": {
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Web Scraper",
        "formFields": {
          "values": [
            {
              "fieldLabel": "url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -2640,
        48
      ],
      "id": "7d75dccb-5e84-40b9-967c-09179ff35da8",
      "name": "On form submission",
      "webhookId": "733f0375-332d-4574-bf01-521114080427"
    },
    {
      "parameters": {
        "resource": "Crawling",
        "operation": "crawl",
        "additionalFields": {},
        "useCustomBody": true,
        "customBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"limit\": 5,\n  \"maxDiscoveryDepth\": 2,\n  \"webhook\": \"https://n8n.your-n8n-domain.example.com/webhook/9fd4a174-db2a-4be9-bc22-4dfaf31db1ee\",\n  \"scrapeOptions\": {\n    \"formats\": [\"markdown\"],\n    \"onlyMainContent\": true\n  }\n}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -2400,
        48
      ],
      "id": "618a3cfe-0f8d-4884-8b74-17efb040cd12",
      "name": "Crawl a website and scrape all pages",
      "credentials": {
        "firecrawlApi": {
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "web-filter-001",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "crawl.page",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1472,
        48
      ],
      "id": "df4d295b-e93e-4675-800a-7a9fd8b8087a",
      "name": "Filter Crawl Pages"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "web-set-001",
              "name": "text",
              "value": "={{ $json.body.data[0].markdown }}",
              "type": "string"
            },
            {
              "id": "web-set-002",
              "name": "source_url",
              "value": "={{ $json.body.data[0].metadata.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        32
      ],
      "id": "6c26283d-65b9-4c06-9bce-f14de2565b1a",
      "name": "Set Web Content"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Source URL\n{{ $('Set Web Content').item.json.source_url }}\n\n##################\n\n# Page Contents\n{{ \n  $('Set Web Content').item.json.text.split(/\\s+/).length > 500 \n    ? $('Set Web Content').item.json.text.split(/\\s+/).slice(0, 500).join(' ') + '...' \n    :  $('Set Web Content').item.json.text\n}}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Based on the provided URL and page contents, extract out a 1 sentence description of what the page is about and classify the document by company department category.\n\nOnly output JSON in the following format\n\n{\n\"category\":\"<ADD>\",\n\"document_summary\":\"<ADD>\"\n}\n\nIf you are unsure of either of these, just output N/A in the field.\n\nAllowable values for category include\n\nHR\nFinance\nOperations\nIT"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        512,
        0
      ],
      "id": "57334c84-a691-4866-9636-bc500f699e75",
      "name": "Classify Web Content"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        352
      ],
      "id": "1110f0ad-2cfa-4596-b0a6-acbf9be90170",
      "name": "OpenAI Chat Model Web",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"category\":\"<ADD>\",\n\"document_summary\":\"<ADD>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        640,
        352
      ],
      "id": "367067b0-b976-4b49-9bae-375b96ddcb54",
      "name": "Structured Output Parser Web"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "web-setup-001",
              "name": "content",
              "value": "={{ $('Set Web Content').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        0
      ],
      "id": "813726fe-3ce5-48c5-97c4-c60113def784",
      "name": "Setup Web Embedding"
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source_url",
                "value": "={{ $('Set Web Content').item.json.source_url }}"
              },
              {
                "name": "category",
                "value": "={{ $('Classify Web Content').item.json.output.category }}"
              },
              {
                "name": "page_summary",
                "value": "={{ $('Classify Web Content').item.json.output.document_summary }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1104,
        352
      ],
      "id": "a3b4a8c4-0a03-4777-81a5-6c1d1f1c97e7",
      "name": "Web Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1168,
        544
      ],
      "id": "abf5f16b-dade-42e2-958d-a29b6ddc8cd2",
      "name": "Web Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        384
      ],
      "id": "e3131d96-7b00-46f0-b4b3-e235f3559c88",
      "name": "Web Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        992,
        0
      ],
      "id": "0a9ce41c-fa74-4e6b-8c07-e7256f229989",
      "name": "Web Vector Store",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.text }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -960,
        32
      ],
      "id": "42e73147-70fb-4a6c-acbf-69ef1e271484",
      "name": "Generate Hash Web"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "record_manager",
        "filters": {
          "conditions": [
            {
              "keyName": "doc_id",
              "condition": "eq",
              "keyValue": "={{ $('Set Web Content').item.json.source_url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -704,
        32
      ],
      "id": "8ce5a057-1808-4581-b0fe-066a29d30ab5",
      "name": "Search Record Manager Web",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "web-sw-cond-001"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "web-sw-cond-002",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Generate Hash Web').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "web-sw-cond-003",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Generate Hash Web').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -448,
        16
      ],
      "id": "7994a4a6-d836-4db0-9779-1a106469d402",
      "name": "Switch Web"
    },
    {
      "parameters": {
        "tableId": "record_manager",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "doc_id",
              "fieldValue": "={{ $('Set Web Content').item.json.source_url }}"
            },
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Generate Hash Web').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5b1bd11d-4d9e-4452-85ea-69424f243a0e",
      "name": "Create Row in Record Manager Web",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>source_url=eq.{{ $('Set Web Content').item.json.source_url }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -176,
        256
      ],
      "id": "27301ab2-2dc1-4f6b-9dc4-20028921065d",
      "name": "Delete Previous Vectors Web",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        48,
        256
      ],
      "id": "aed94a21-a4c4-448b-87ce-66bf7ec55fe8",
      "name": "Aggregate Web"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "record_manager",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Search Record Manager Web').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Generate Hash Web').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        256
      ],
      "id": "e879d96b-9a01-4171-9216-7aa77c2f516b",
      "name": "Update Record Manager Web",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Web Scraping\n",
        "height": 96,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3008,
        32
      ],
      "id": "38b321f8-0d25-4929-b51e-d3989dee1532",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## File Upload\n",
        "height": 96,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2976,
        2176
      ],
      "id": "955a6093-3122-451d-b366-179e7a181a44",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_DRIVE_FOLDER_ID_PROCESSED",
          "mode": "list",
          "cachedResultName": "Processed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_DRIVE_FOLDER_ID_PROCESSED"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3856,
        3360
      ],
      "id": "12e080e2-65d7-4725-bc02-a84fee6a3417",
      "name": "Move file",
      "credentials": {
        "googleApi": {
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3664,
        3360
      ],
      "id": "b9e7c023-3fe7-4d50-bbda-5143f7116956",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "category"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        4464
      ],
      "id": "0885112f-cad0-4794-ae6c-bad9c78eb6a1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        4464
      ],
      "id": "b14695b6-fd0c-4593-abde-1ed1a5e88fdc",
      "name": "Generate Embedding From Query",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to search the knowledge base and retrieve relevant information. The input should be a string containing the user's question or query.",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_WORKFLOW_ID",
          "mode": "list",
          "cachedResultUrl": "/workflow/YOUR_WORKFLOW_ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "category": "={{ $json.output.category }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -2096,
        4672
      ],
      "id": "7ec58eee-108a-4e69-b994-248366fba40a",
      "name": "Query Vector Store",
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsCode": "// Grab all items from Hybrid Search\nconst items = $input.all();\n\n// Extract content from each document into a flat array\nconst documents = items.map(item => item.json.content);\n\n// Pull the original query from the workflow input\nconst query = $('When Executed by Another Workflow').first().json.query;\n\n// Return a single item \u2014 one batched call to Cohere\nreturn [\n  {\n    json: {\n      query,\n      documents,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        4464
      ],
      "id": "8e95f1b5-dcb0-4ba9-b75d-67970513b858",
      "name": "Create Array"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.com/v2/rerank",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"rerank-v4.0-pro\",\n  \"query\": \"{{ $json.query }}\",\n  \"top_n\": 5,\n  \"documents\":\n    {{ JSON.stringify($json.documents) }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        4464
      ],
      "id": "8ee5e656-cda0-4575-9c2f-9d7e20714ec9",
      "name": "Rerank with Cohere 4.0",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Cohere API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Cohere results \u2014 already sorted by relevance_score descending\nconst cohereResults = $input.first().json.results;\n\n// Original full documents from Hybrid Search (before we extracted content)\nconst hybridItems = $('Hybrid Search').all();\n\n// Map each Cohere index back to the original document, inject relevance_score\nconst reranked = cohereResults.map(result => ({\n  json: {\n    ...hybridItems[result.index].json,\n    relevance_score: result.relevance_score,\n  },\n}));\n\nreturn reranked;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        4464
      ],
      "id": "d4547c1a-64ed-479b-9e42-3a5ae5d466a0",
      "name": "Return Reordered Items"
    },
    {
      "parameters": {
        "content": "## Hybrid Search \n**Using Supabase db function and edge function",
        "height": 320,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        4336
      ],
      "id": "e432b745-f7f4-4a02-94a1-a9aae3402a5f",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Reranking Model\n**Using Cohere 4.0",
        "height": 320,
        "width": 672,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        4336
      ],
      "id": "90c1b603-07d1-496c-a586-f900e5ccb597",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -688,
        2992
      ],
      "id": "827cee66-d033-4c4f-bb7c-fe16291fe7ee",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Image",
        "height": 384,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        2768
      ],
      "id": "7295f18a-a80e-43a1-88f8-f3bcc20b77da",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"answer\": \"Full-time employees are entitled to 15 paid vacation days per year, accruing from the start date.\",\n  \"source_metadata\": {\n    \"documents_used\": [\"employee_handbook_2026\", \"pto_policy_update\"],\n    \"confidence_score\": 95\n  },\n  \"needs_human\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1936,
        4672
      ],
      "id": "bd9e6597-b7f6-43d5-a160-d0678898503d",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5ff591ac-4097-4fec-8d20-08a11083bf61",
              "leftValue": "={{ $json.output.needs_human }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1984,
        4448
      ],
      "id": "25d4a038-8acf-424e-856b-c55a4f724233",
      "name": "If2"
    },
    {
      "parameters": {
        "fromEmail": "noreply@example.com",
        "toEmail": "your-email@example.com",
        "subject": "Knowledge Assistant - unanswered employee question",
        "html": "=Hi,\n\nThe Knowledge Assistant could not confidently answer the following employee question:\n\n\"{{ $('When chat message received').item.json.chatInput }}\"\n\nPlease review and follow up with the employee directly.\n\nThanks,\nKnowledge Assistant",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1728,
        4304
      ],
      "id": "6beb51eb-4de2-4be3-8da2-1019b86ef7ae",
      "name": "Send email",
      "webhookId": "0092f0c4-87c8-4b47-83c9-7b3806793c56",
      "credentials": {
        "smtp": {
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $('AI Agent').item.json.output.answer }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -1472,
        4464
      ],
      "id": "b4d61472-b8a6-4f48-ad30-23d58863e8ee",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "tableId": "chat_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "fieldId": "chat_input",
              "fieldValue": "={{ $('When chat message received').item.json.chatInput }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ $('AI Agent').item.json.output.answer }}"
            },
            {
              "fieldId": "source_metadata",
              "fieldValue": "={{ JSON.stringify($('AI Agent').item.json.output.source_metadata) }}"
            },
            {
              "fieldId": "needs_human",
              "fieldValue": "={{ $('AI Agent').item.json.output.needs_human }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1184,
        4464
      ],
      "id": "b7c0eaf0-3c64-48cc-b7fc-a7c2468c5969",
      "name": "Create Row in Chat Logs",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2896,
        4448
      ],
      "id": "13edac2f-dff7-43e8-9306-c9663e4bda5c",
      "name": "When chat message received",
      "webhookId": "1f1f39ac-1257-4213-a4f0-9f80abb6714f"
    },
    {
      "parameters": {
        "path": "YOUR_WEBHOOK_PATH",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1680,
        48
      ],
      "id": "97257136-987a-4099-965f-d5f5e8d077f9",
      "name": "Webhook1",
      "webhookId": "836e7e09-7b9d-4527-8e4b-6527f4e7446e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR-PROJECT-REF.supabase.co/functions/v1/hybrid-search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query_text\": \"{{ $('When Executed by Another Workflow').item.json.query }}\",\n  \"query_embedding\": [{{ $('Generate Embedding From Query').item.json.data[0].embedding }}],\n  \"match_count\": 20,\n  \"filter\": {\n    \"category\": \"{{ $('When Executed by Another Workflow').item.json.category }}\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        4464
      ],
      "id": "f0a3abba-e149-440d-b5a0-d9cd8905d39a",
      "name": "Hybrid Search",
      "alwaysOutputData": true,
      "credentials": {
        "httpCustomAuth": {
          "name": "Supabase Edge Function"
        }
      }
    },
    {
      "parameters": {
        "content": "## Delete Files\nremove date from vector db for archived files.\n",
        "height": 96,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3008,
        944
      ],
      "id": "d6e7b1d1-7b0b-463c-bfa8-2d1bbbd2570b",
      "name": "Sticky Note12",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Ingestion Step",
        "height": 4112,
        "width": 7168,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3056,
        -128
      ],
      "id": "5989a0e7-c908-4e77-bf83-5f64167d0b7b",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Inference Step",
        "height": 720,
        "width": 3984
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3040,
        4240
      ],
      "id": "b595461e-a2c2-4161-b556-ab9a476226b3",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an expert document parser. Your goal is to convert this image into a high-fidelity Markdown representation for a Knowledge Base.\n   \nTask Instructions:\nTranscribe Everything: Capture all printed and handwritten text accurately.\nPrioritize Annotations: Identify any handwritten notes, margin scribbles, or stamped text. Format these as > **Handwritten/Stamp Note:** [Text].\nPreserve Structure: Convert tables into Markdown table format. Maintain headers, bullet points, and numbered lists. Use horizontal rules (---) to separate distinct sections or pages.\nVisual Context: If there are diagrams, logos, or photos, provide a brief, objective description in brackets, e.g., [Image: Company Logo].\nClean Data: Remove any artifacts caused by the scan (e.g., \"page numbers\" that are cut off or scanner noise).\nConstraint: Output only the Markdown content. Do not provide an introduction or summary of your actions.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -656,
        2800
      ],
      "id": "87bda4f0-fa16-4acd-bd1e-096b6fc886ff",
      "name": "AI Agent-Image",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Strip out New Line & White spaces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Hash": {
      "main": [
        [
          {
            "node": "Search Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record Manager": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Row in Record Manager": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create Row in Record Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Previous Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Previous Vectors": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update our Record Manager": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Update our Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Setup Text for Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent-Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "Generate Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Text for Embedding": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip out New Line & White spaces": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleted Files": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Previous Vectors1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Update our Record Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Search Record Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record Manager1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Delete Previous Vectors1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update our Record Manager1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Crawl a website and scrape all pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Crawl Pages": {
      "main": [
        [
          {
            "node": "Set Web Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Web Content": {
      "main": [
        [
          {
            "node": "Generate Hash Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Hash Web": {
      "main": [
        [
          {
            "node": "Search Record Manager Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record Manager Web": {
      "main": [
        [
          {
            "node": "Switch Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Web": {
      "main": [
        [
          {
            "node": "Create Row in Record Manager Web",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Delete Previous Vectors Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Row in Record Manager Web": {
      "main": [
        [
          {
            "node": "Classify Web Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Previous Vectors Web": {
      "main": [
        [
          {
            "node": "Aggregate Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Web": {
      "main": [
        [
          {
            "node": "Update Record Manager Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Record Manager Web": {
      "main": [
        [
          {
            "node": "Classify Web Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Web Content": {
      "main": [
        [
          {
            "node": "Setup Web Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Web": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Web Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser Web": {
      "ai_outputParser": [
        [
          {
            "node": "Classify Web Content",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Setup Web Embedding": {
      "main": [
        [
          {
            "node": "Web Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Data Loader": {
      "ai_document": [
        [
          {
            "node": "Web Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Web Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Web Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Web Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Web Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generate Embedding From Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding From Query": {
      "main": [
        [
          {
            "node": "Hybrid Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Array": {
      "main": [
        [
          {
            "node": "Rerank with Cohere 4.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rerank with Cohere 4.0": {
      "main": [
        [
          {
            "node": "Return Reordered Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent-Image",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        [
          {
            "node": "Create Row in Chat Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Filter Crawl Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hybrid Search": {
      "main": [
        [
          {
            "node": "Create Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent-Image": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "internal-knowledge-assistant",
  "tags": []
}